@import "../../styles/variables.scss";

.dropdown {
  display: none;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 48px;
  border: 1px solid $primaryColor;
  transition-duration: 0.25s;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__value {
    padding-left: 15px;
  }

  &__items {
    position: absolute;
    top: 48px;
    background-color: white;
    width: 100%;
    padding: 0px 20px;
    height: 0px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.25s;

    &_visible {
      height: auto;
      top: 50px;
      opacity: 1;
      padding: 8px 20px;
      border: 1px solid $primaryColor;
    }
  }

  &__item{
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;

    &:hover{
      color: $primaryColor;
    }
  }

  &__arrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 15px;

    div{
      transition-duration: 0.25s;
    }
  }

  &__arrow-open{
    div{
      rotate: -180deg;
    }
    
  }
}

@media (max-width: 1000px) {
  .dropdown {
    display: flex;
  }
}
