@import "../../styles/variables.scss";

.dropdown {
  display: none;
  position: relative;
  margin-top: 40px;
  width: 100%;
  min-height: 48px;
  padding: 8px 36px 8px 15px;
  border: 1px solid $primaryColor;
  transition-duration: 0.25s;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  // &__value {
  //   padding-left: 15px;
  // }

  &__items {
    position: absolute;
    top: 48px;
    background-color: white;
    width: calc(100% + 2px);
    padding: 0px 15px;
    height: 0px;
    left: -1px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.25s;

    &_visible {
      height: auto;
      top: 70px;
      opacity: 1;
      padding: 15px 15px;
      border: 1px solid $primaryColor;
    }
  }

  &__item{
    // height: 48px;
    display: flex;
    align-items: center;
    width: 100%;

    &:hover{
      color: $primaryColor;
    }
  }

  &__arrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 15px;

    div{
      transition-duration: 0.25s;
    }
  }

  &__arrow-open{

    div{
      rotate: -180deg;
    }
    
  }
}

@media (max-width: 1000px) {
  .dropdown {
    display: flex;
  }
}

.dropdown__item + .dropdown__item{
  margin-top: 10px;
}
