@import "../../styles/variables.scss";

.link {
  padding: 10px 0px;
  cursor: pointer;
  opacity: 0.6;

  & *{
    color: $textColor;
  }

  &:hover{
    opacity: 1;
  }
}

.activeLink {
  opacity: 1;
}
