@import "../../styles/variables.scss";

.button{
  padding: 18.5px 60px;
  min-width: 190px;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  background: none;
  color: $textColor;
  font-weight: 400;
  letter-spacing: 0.4px;
  border: 1px solid $textColor;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
    border-color:$primaryColor;
    color: white;
    background-color: $primaryColor;
  }

  &:active{
    outline: 2px solid #189EFF;
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
}