@import "../../styles/variables.scss";

.button{
  padding: 18.5px 60px;
  min-width: 190px;
  font-size: 20px;
  line-height: 30px;
  outline: none;
  background-color: $primaryColor;
  color: white;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: none;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    outline: 2px solid #189EFF;
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
}