.contacts{

  & p:nth-child(2){
    margin-top: 40px ;
  }

  & p{
    font-weight: 300;
  }

  &__connect{
    padding: 20px 0px;

    & p:nth-child(2){
      margin-top: 10px ;
    }

    & p{
      margin-top: 10px;
      font-weight: 400;
    }

    & a{
      margin-left: 10px;
    }
  }
}