@import "../../styles/variables.scss";

.contacts{
  padding-bottom: 0px;

  & p:nth-child(2){
    margin-top: 40px ;
  }

  & p{
    font-weight: 300;
  }

  &__connect{
    padding: 20px 0px;
    
    a{
      color: $primaryColor;

      &:hover{
        opacity: 0.5;
      }
    }

    & p:nth-child(2){
      margin-top: 10px ;
    }

    & p:nth-child(3) div{
      display: inline;
      margin-left: 10px;
      margin-top: 10px;

      @media (max-width:690px) {
        display: block;
        margin-left: 0px;
      }
    }

    & p{
      margin-top: 10px;
      font-weight: 400;
    }

    & a+a{
      margin-left: 10px;
    }
  }
}