@import "../../styles/variables.scss";
$padding: 10px;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  h4{
    margin-top: 10px;
  }
}

.title{
  font-size: 22px;
  line-height: 31px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-column-gap: 20px;

  &+input{
    margin-top: 10px;
  }
}

.input {
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 1px solid $textColor;
  padding-left: $padding;
  height: 48px;
}

.textarea {
  margin-top: 20px;
  border: 1px solid $textColor;
  outline: 0;
  resize: none;
  height: 98px;
  padding: 10px;
}

.submit {
  max-width: 460px;
  margin-top: 30px;
}

.conditions{
  font-size: 12px;
  line-height: 18px;
  position: relative;
  top: 7px;
}
