@import "../../styles/variables.scss";

.banner {
  display: flex;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__container {
    display: flex;
  }
  &__subtitle {
    font-size: 36px;
    line-height: 44px;
    color: $primaryColor;
    padding-bottom: 46px;
  }
  &__button-container {
    margin-top: auto;
  }
  &__links {
    display: flex;
    max-width: 392px;
    margin: 20px auto 0;
    justify-content: space-around;
  }

  &__photo-container{
    height: 400px;

    @media (max-width:1256px) {
      height: 496px;
    }

    @media (max-width:1000px) {
      height: 400px;
    }


    & img{
      height: 100%;
      object-fit: cover;
    }
  }

  &__right{
    flex:1 0 40%;
    margin-left: 40px;

    @media (max-width:1256px) {
      flex:1 0 50%;
    }
  }
}
.history {
  padding: 100px 0px;
  // background-color: $textColor;
  // color: white;
}

.cooperation {
  &__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}
