@import "../../styles/variables.scss";

.banner {
  display: flex;
  padding-bottom: 100px;

  @media (max-width:850px) {
    flex-direction: column;
  }

  &__left {

    @media (max-width:935px) {
      display: flex;
      flex-direction: column;
    }

    p{

      @media (max-width:850px) {
        margin-top: 40px;
      }
    }

    
  }

  &__container {
    display: flex;

    @media (max-width:850px) {
      display: block;
    }
  }

  &__subtitle {
    font-size: 36px;
    line-height: 44px;
    color: $primaryColor;
    padding-bottom: 40px;

    @media (max-width:935px) {
      padding-bottom: auto;
    }

    @media (max-width:576px) {
      padding-bottom: auto;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__button-container {
    padding-top: 40px;

    @media (max-width:935px) {
      padding-top: auto;
    }

    button{
      @media (max-width:480px) {
        width: 100%;
      }
    }

    
  }

  &__links {
    display: flex;
    max-width: 392px;
    margin: 20px auto 0;
    justify-content: space-around;
  }

  &__photo-container{
    height: 400px;

    @media (max-width:1256px) {
      height: 496px;
    }

    @media (max-width:1000px) {
      height: 400px;
    }


    & img{
      height: 100%;
      object-fit: cover;
    }
  }

  &__right{
    flex:1 0 40%;
    margin-left: 40px;

    @media (max-width:1256px) {
      flex:1 0 50%;
    }

    @media (max-width:850px) {
      display: none;
      margin-left: 0px;
    }
  }

  &__photo-adaptiv{
    display: none;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    // height: 600px;

    & img{
      height: 100%;
      object-fit: cover;
    }

    @media (max-width:850px) {
      display: block;
    }
  }
}
.history{
  
  & hr:nth-last-child(2){
    margin-bottom: 30px;
  }
}

.projects{
  background-color:#FAFAFA;
}

.cooperation {

  p{
    margin-top: 30px;
  }
}

.blog{
  
  &__card-container~div{
    margin-top: 80px;
  }
}
