@import "../../styles/variables.scss";

.item {
  width: 100%;
  padding: 20px 0px;

  &__text {
    margin: 0 auto;
    max-width: 265px;
    text-align: center;
  }

  &__line {
    width: 100%;
    margin-top: 10px;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, #daeefc 0%, #4fb5ff 50%, #daeefc 100%);
  }
}

@media (max-width: 470px) {
  .item {
    &__text {
      margin: 0;
      text-align: inherit;
    }
  }
}
