@import "../../styles/variables.scss";

.item{
  width: 100%;
  padding: 20px 0px;

  &__text{
    margin: 0 auto;
    max-width: 265px;
    text-align: center;
  }

  &__line{
    width: 100%;
    margin-top: 10px;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, #DAEEFC 0%, #4FB5FF 50%, #DAEEFC 100%);
  }
}