.feedback-block{
  padding-bottom: 100px!important;
  position: relative;
}

.container {
  display: flex;
  gap: 20px;

  @media (max-width:1000px) {
    padding-top: 95px;
  }

  @media (max-width:690px) {
    flex-direction: column;
    padding-top: 61px;
  }

  @media (max-width:590px) {
    padding-top: 89px;
  }

  @media (max-width:576px) {
    padding-top: 89px;
  }

  @media (max-width:366px) {
    padding-top: 120px;
  }

}

.imageContainer {
  flex-basis: 33%;

  @media (max-width:1000px) {
    flex-basis: 50%;
  }

  img{
    object-fit: cover;
    height: 100%;
  }
}

.formContainer {

  @media (max-width:1000px) {
    flex-basis: 50%;
  }
}
