.feedback-block{
  padding-bottom: 100px!important;
}

.container {
  display: flex;
  gap: 20px;
}

.imageContainer {
  width: calc(100% / 12 * 4);

  img{
    object-fit: cover;
    height: 100%;
  }
}

.formContainer {
  width: calc(100% / 12 * 8);
}
