@import "../../styles/variables.scss";

.link-icon{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  

  &:hover a{
    color:$primaryColor!important;
  }

  &:hover .arrow{
    rotate: 90deg;
  }

}

.arrow{
  margin-left: 15px;
  stroke: $primaryColor;
  transition-duration: 0.25s;
  rotate: 45deg;
}
