@import "../../styles/variables.scss";

.case-card {
  display: flex;
  min-height: 184px;

  &__image {
    flex: 0 0 40%;
    margin-right: 20px;

    img{
      height: 100%;
      object-fit: cover;
    }

    &_small {
      height: 254px;
      display: none;

      @media (max-width: 420px) {
        height: 219px;
      }

      img{
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    font-weight: 22px;
    line-height: 31px;
  }

  &__description {
    padding: 10px 0px;
    font-weight: 300;
  }
}

.case-card + .case-card {
  margin-top: 20px;

  @media (max-width: 650px) {
      margin-top: 40px;
  }

}

@media (max-width: 650px) {
  .case-card {
    &__image {
      display: none;

      &_small {
        display: block;
      }
    }
    &__title {
      margin-bottom: 15px;
    }
  }
}
