@import "../../styles/variables.scss";

.case-card{
  display: flex;

  &__image{
    flex: 0 0 40%;
    margin-right: 20px;
  }

  &__title{
    font-weight:22px;
    line-height:31px;
  }

  &__description{
    padding: 10px 0px;
    font-weight: 300;
  }
}

.case-card+.case-card{
  margin-top: 20px;
}