@import "../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap:40px;

  @media (max-width:735px) {
    flex-direction: column;
    gap:30px;
  }
}

.footerLeftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width:1055px) {
    width: 50%;
  }

  @media (max-width:896px) {
    width: 100%;
  }

  & h3 + h3 {
    margin-top: 10px;
  }

  &_bot{
    
    @media (max-width:1200px) {
      display: none;
    }
  }
}

.footerRightSide {
  flex: 0 0 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width:1055px) {
    width: 50%;
  }

  @media (max-width:896px) {
    flex:0 0 50%;
  }

  @media (max-width:735px) {
    flex:1 1 100%;
    width: 100%;
  }

  & h3 {
    margin-top: 10px;
  }

  & p {
    margin-top: 10px;
  }
}

.contactBlockContainer {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  gap: 20px;
  margin-bottom: 20px;

  @media (max-width:896px) {
    flex-direction: column;
    grid-row-gap:10px;
  }

  @media (max-width:735px) {
    flex-direction: row;
    gap:30px;
  }

  @media (max-width:735px) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.contactBlock {
  width: 50%;

  @media (max-width:735px) {
    flex-direction: row;
    gap:30px;
    width: 100%;
  }
  
}

.linksContainer {
  display: flex;
  // justify-content: space-between;
  margin-top: 10px;
  max-width: 400px;

  a+a{
    margin-left: 16px;
  }
}

.footer {
  background-color: $textColor;
  padding: 100px 0px 20px;

  & .subtitle {
    color: $primaryColor;
  }

  &__designer {
    display: flex;
    align-self: flex-start;
    font-size: 14px;
    margin-top: 0px !important;
    margin-bottom: 3px;
  }

  &__designer-logo {
    margin-left: 4px;
    position: relative;
    top: 5px;
  }

  &__last-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 60px;

    a{
      font-size: 14px;

      &:hover{
        opacity: 0.7;
      }
    }

    &>a::after{
      content: "";
      position: relative;
      bottom: -3px;
      height: 16px;
      width: 1px;
      background-color: white;
      display: inline-block;
      margin:0px 8px;
    }

    &>a:last-child::after{
      display: none;
    }
  }
}

.footer * {
  color: $textColorWhite;
}
