@import "../../styles/variables.scss";

.history {
  padding: 26px 0px 0px;
  position: relative;

  &__content-container {
    width: 100%;
    display: flex;
    gap: 40px;

    @media (max-width:1256px) {
      gap: 20px;
    }

    @media (max-width:960px) {
      flex-direction: column;
      gap: 0px;
      padding-top: 50px;
    }

    @media (max-width:755px) {
      flex-direction: column;
      gap: 0px;
      padding-top: 74px;
    }

    @media (max-width:576px) {
      padding-top: 68px;
    }

    @media (max-width:413px) {
      padding-top: 92px;
    }

    @media (max-width:344px) {
      padding-top: 116px;
    }
  }

  &__photo-container {
    flex: 0 0 488px;

    @media (max-width:1256px) {
      flex: 0 0 calc(50% - 10px);
    }

    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__presentation{

    @media (max-width:960px) {
      position: absolute;
      padding-right: 28px;
      top:128px;
    }

    @media (max-width:576px) {
      top: 110px;
      padding-right: 24px;
    }

    @media (max-width:480px) {
      padding-right: 18px;
    }

  }

  &__right-side {

    @media (max-width:1256px) {
      flex: 0 0 calc(50% - 10px);
    }
  
    & p + p {
      margin-top: 20px;
    }
  }

  &__items {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media (max-width:576px) {
      grid-template-columns: 1fr;
    }

    & p {
      margin-top: 0px !important;
    }
  }
}

.history__items-row + .history__items-row {
  margin-top: 20px;

  // @media (max-width:1256px) {
  //   margin-top: 10px;
  // }
}

.item {
  display: flex;
  width: 285px;
  align-items: center;

  @media (max-width:1256px) {
    width: 100%;
  }

  &__number {
    font-size: 48px;
    line-height: 56px;
    color: $primaryColor;
    width: fit-content;
    flex:0 0 100px;
    display: flex;
    justify-content: center;

    @media (max-width:576px) {
      font-size: 34px;
      line-height: 40px;
      justify-content: end;
      flex-basis: auto;
    }

    @media (max-width:520px) {
      justify-content: end;
    }
  }

  &__text {
    margin-left: 16px;
  }
}

.interests {

  padding: 0px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin: 40px 0px;
    align-items: end;

    @media (max-width:900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width:520px) {
      grid-template-columns: 1fr;
    }

    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img-container{
    height: 100%;
    grid-column: 2/2;
    grid-row:1/5;

    @media (max-width:900px) {
      display: none;
    }
  }

  &__last-paragraph{
    margin-top: 20px;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
  }
}


