@import "../../styles/variables.scss";


.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 285px;

  &__image-container{
    width: 285px;
    height: 219px;

    img{
      height: 100%;
      object-fit: cover;
    }
  }

  & p:nth-child(3){
    opacity: 0.7;
  }

  &__type {
    color: $primaryColor!important;
  }
}

:global(.dark) p{
  color: white;
}

:global(.dark) a{
  color: white;
}
